<%= form_with url: processor_transform_path, method: :post, data: {turbo: false} do |form| %>
  <div style="position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  width: 200px;
  height: 200px">
    <%= form.text_field :input_string %>
  </div>
  <div style="position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -20px;
  margin-left: -50px;
  width: 100px;
  height: 100px">
    <%= form.submit "fix" %>
  </div>
<% end %>