<div style="position: absolute;
top: 50%;
left: 45%;
margin-top: -50px;
margin-left: -50px;
width: 100px;
height: 100px">
  <p><%= @output_string %></p>
  <%= link_to "<button>Back</button>".html_safe, processor_path %>
</div>